<!DOCTYPE html>
<html>
    <head>
        <title>Reva's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Reva's blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter because although each letter might contain a different message and be addressed to a different person, they will share the same format.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>HTML is a code that is interpreted by your web browser – such as Chrome, Firefox or Safari – to display a web page for the user.</p>
        </article>
    </body>
</html>